ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1416", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1419", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1426", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="142b", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="142c", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1432", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1436", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1438", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="143c", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="143d", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="143f", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1440", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1446", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="144b", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="144d", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1452", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1453", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1454", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="1455", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="0405", MODE="666"
ATTRS{idVendor}=="0661", ATTRS{idProduct}=="0406", MODE="666"
